.wrapper {
  text-align: center;
}

.title {
  color: #888;
}

.paragraph-box {
  border-radius: 3px;
  background-color: #94dbff;
  margin: 0 10px;
  padding: 20px;
}

.highlight-color{
  color: red;
  font-weight: bold;
}